body {
    background: azure;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
}

h2 {
    font-family: 'Open Sans', sans-serif;

}



p {
    font-family: 'Roboto', sans-serif;
}

.intro {
    font-weight: 00;
}


.site-nav{
    font-family: 'Roboto', sans-serif;
}
